[submodule "nixpkgs-mozilla"]
	path = overlay/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs
[submodule "overlay/nixpkgs-mozilla"]
	path = overlay/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "nixos"]
	path = nixos
	url = https://github.com/NixOS/nixos
